<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fab fa-pagelines"></i>Organic Store
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"
</nav>