<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fab fa-pagelines"></i>Organic Store
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controler="navbarCollapse" aria-expanded="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="navbar-nav nr-auto menu">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="navbar-nav nr-auto menu">
                <a href="#fruit" class="nav-link">Fruits</a>
            </li>
            <li class="navbar-nav nr-auto menu">
                <a href="#juice" class="nav-link">Juices</a>
            </li>
            <li class="navbar-nav nr-auto menu">
                <a href="#salad" class="nav-link">Salads</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <a href="#" class="text-white nav-link">
                <i id="cart_n" class="text-warning fas fa-shopping-cart">Shopping Cart</i>
            </a>
            <a href="/admin" class="nav-link disable text-white">
            <i class="far fa-user">Administartion</i></a>
        </form>
    </div>
</nav>
</header>